In [1]:
# Reloads modules as they are changed.
%load_ext autoreload
%autoreload 2

In [24]:
import os
import sys
from pathlib import Path

import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import fbeta_score

sys.path.append("..")

from src.model import model_pipeline

In [6]:
X = model_pipeline.load_independent_vars()
X.head()

,image_name,r_mean,g_mean,b_mean,r_max,g_max,b_max,r_min,g_min,b_min
0,train_0,163.212616,145.653000,151.390854,181,158,164,138,130,137
1,train_1,189.360138,178.502625,190.698410,226,214,217,85,101,124
2,train_10,199.677139,197.728287,204.278961,250,234,228,124,149,156
3,train_100,157.160950,148.410355,146.096863,174,162,175,27,30,32
4,train_1000,131.169815,120.781433,128.889297,195,182,179,4,9,12

In [8]:
Y = model_pipeline.load_dependent_vars()
Y.head()

,image_name,haze,primary,agriculture,clear,water,habitation,road,cultivation,slash_burn,cloudy,partly_cloudy,conventional_mine,bare_ground,artisinal_mine,blooming,selective_logging,blow_down
0,train_0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,train_1,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,train_10,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0
3,train_100,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0
4,train_1000,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0

In [12]:
labels = model_pipeline.load_labels()
labels

['haze',
 'primary',
 'agriculture',
 'clear',
 'water',
 'habitation',
 'road',
 'cultivation',
 'slash_burn',
 'cloudy',
 'partly_cloudy',
 'conventional_mine',
 'bare_ground',
 'artisinal_mine',
 'blooming',
 'selective_logging',
 'blow_down']

In [15]:
X.drop('image_name', axis=1, inplace=True)
Y.drop('image_name', axis=1, inplace=True)

In [32]:
y = np.array(Y.primary)

In [33]:
lr = LogisticRegression(solver='lbfgs', max_iter=1000)
m1, score = model_pipeline.train_score_model(lr, X, y)

In [34]:
score

0.9681008902077151

In [38]:
f2_scores = []
for label in labels:
    lr = LogisticRegression(solver='lbfgs', max_iter=1000)
    
    y = Y[label]
    
    _, f2_score = model_pipeline.train_score_model(lr, X, y)
    f2_scores.append(f2_score)
    
    print(label, f2_score)

print('\n***********\n')
print('Mean f2 score: ', np.mean(f2_scores))

haze 0.08130081300813008
primary 0.9681008902077151
agriculture 0.5361305361305362
clear 0.8985507246376812
water 0.04081632653061224
habitation 0.4700854700854701
road 0.5102040816326531
cultivation 0.04310344827586206

/anaconda3/envs/amazon_cv/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/anaconda3/envs/amazon_cv/lib/python3.7/site-packages/sklearn/metrics/classification.py:1439: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true samples.
  'recall', 'true', average, warn_for)

slash_burn 0.0
cloudy 0.6707317073170732
partly_cloudy 0.49479166666666663
conventional_mine 0.0

/anaconda3/envs/amazon_cv/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/anaconda3/envs/amazon_cv/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

bare_ground 0.0
artisinal_mine 0.6666666666666666
blooming 0.0
selective_logging 0.0
blow_down 0.0

***********

Mean f2 score:  0.3164989606564157

/anaconda3/envs/amazon_cv/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/anaconda3/envs/amazon_cv/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/anaconda3/envs/amazon_cv/lib/python3.7/site-packages/sklearn/metrics/classification.py:1439: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true samples.
  'recall', 'true', average, warn_for)