In [1]:
# Reloads modules as they are changed.
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
from pathlib import Path

import pandas as pd 

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

sys.path.append("..")

from src.app import app_tools
from src.data import make_dataset

In [6]:
models, labels = app_tools.load_models('02_Nov_19_log_reg')

In [4]:
predictions = app_tools.load_predict_image('train_0.jpg', models)

In [5]:
predictions

[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/solar.csv')
df.head()

,State,Number of Solar Plants,Installed Capacity (MW),Average MW Per Plant,Generation (GWh)
0,California,289,4395,15.3,10826
1,Arizona,48,1078,22.5,2550
2,Nevada,11,238,21.6,557
3,New Mexico,33,261,7.9,590
4,Colorado,20,118,5.9,235

In [7]:
dict(zip(labels, [0]*len(labels)))

{'agriculture': 0,
 'artisinal_mine': 0,
 'bare_ground': 0,
 'blooming': 0,
 'blow_down': 0,
 'clear': 0,
 'cloudy': 0,
 'conventional_mine': 0,
 'cultivation': 0,
 'habitation': 0,
 'haze': 0,
 'partly_cloudy': 0,
 'primary': 0,
 'road': 0,
 'selective_logging': 0,
 'slash_burn': 0,
 'water': 0}

In [4]:
data=df.to_dict('records')
data

[{'State': 'California',
  'Number of Solar Plants': 289,
  'Installed Capacity (MW)': 4395,
  'Average MW Per Plant': 15.3,
  'Generation (GWh)': 10826},
 {'State': 'Arizona',
  'Number of Solar Plants': 48,
  'Installed Capacity (MW)': 1078,
  'Average MW Per Plant': 22.5,
  'Generation (GWh)': 2550},
 {'State': 'Nevada',
  'Number of Solar Plants': 11,
  'Installed Capacity (MW)': 238,
  'Average MW Per Plant': 21.6,
  'Generation (GWh)': 557},
 {'State': 'New Mexico',
  'Number of Solar Plants': 33,
  'Installed Capacity (MW)': 261,
  'Average MW Per Plant': 7.9,
  'Generation (GWh)': 590},
 {'State': 'Colorado',
  'Number of Solar Plants': 20,
  'Installed Capacity (MW)': 118,
  'Average MW Per Plant': 5.9,
  'Generation (GWh)': 235},
 {'State': 'Texas',
  'Number of Solar Plants': 12,
  'Installed Capacity (MW)': 187,
  'Average MW Per Plant': 15.6,
  'Generation (GWh)': 354},
 {'State': 'North Carolina',
  'Number of Solar Plants': 148,
  'Installed Capacity (MW)': 669,
  'Average MW Per Plant': 4.5,
  'Generation (GWh)': 1162},
 {'State': 'New York',
  'Number of Solar Plants': 13,
  'Installed Capacity (MW)': 53,
  'Average MW Per Plant': 4.1,
  'Generation (GWh)': 84}]