In [11]:
# Reloads modules as they are changed.
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
import os
import sys
from pathlib import Path

sys.path.append("..")
# from src.data import make_dataset
from src.data import make_dataset

# import src.data.make_dataset as make_data

In [16]:
df = make_dataset.load_raw_labels()

THis is new

In [14]:
df

        image_name                                           tags
0          train_0                                   haze primary
1          train_1                agriculture clear primary water
2          train_2                                  clear primary
3          train_3                                  clear primary
4          train_4      agriculture clear habitation primary road
...            ...                                            ...
40474  train_40474                                  clear primary
40475  train_40475                                         cloudy
40476  train_40476                      agriculture clear primary
40477  train_40477                 agriculture clear primary road
40478  train_40478  agriculture cultivation partly_cloudy primary

[40479 rows x 2 columns]

In [8]:
os.getcwd()

'/Users/BradPanzarella/Desktop/Projects/WiDS/Amazon/rainforest-project/notebooks'

In [9]:
parent = Path(os.getcwd()).resolve().parents[0]

In [10]:
os.path.join(parent, 'data')

'/Users/BradPanzarella/Desktop/Projects/WiDS/Amazon/rainforest-project/data'